---
/**
 * Simple "Page not found" component.
 */
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Page not found</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">
      <h1>Page not found</h1>
    </div>
  </body>
</html>
