# may contain OAuth secrets, do not commit
.sitecore/user.json

# NuGet cache for Sitecore CLI
.sitecore/package-cache/

# Ephemeral index caches used by serialization, do not commit
.scindex

# Don't commit packages
*.itempackage
*.sicpackage


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

#Ignore system files
.DS_Store

# Netlify env files
.env.netlify

# VS Code settings
.vscode/
/examples/kit-astro-skate-part/node_modules
/examples/kit-astro-skate-part/dist
/examples/kit-astro-article-starter/dist
/examples/kit-astro-article-starter/node_modules
/examples/kit-astro-location-finder/backstop/backstop_data
/examples/kit-astro-location-finder/node_modules
/examples/kit-astro-location-finder/backstop
/examples/kit-astro-product-listing/node_modules
/examples/kit-astro-product-listing/dist
/examples/kit-astro-product-listing/backstop/backstop_data
/examples/kit-astro-product-listing/backstop/compare
