@font-face {
  font-family: 'IBM Plex Sans Fallback';
  src: local('Arial');
  size-adjust: 100%;
  ascent-override: 101%;
  descent-override: 27%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'heading Fallback';
  src: local('Arial');
  size-adjust: 96%;
  ascent-override: 105%;
  descent-override: 28%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'IBM Plex Mono Fallback';
  src: local('Courier New');
  size-adjust: 100%;
  ascent-override: 92%;
  descent-override: 24%;
  line-gap-override: 0%;
}

/* Hide CMS development placeholders in production */
.is-empty-hint {
  display: none;
}

@layer base {
  :root {
    --font-heading: var(--font-family-heading);
    --font-body: var(--font-family-body);
    --font-accent: var(--font-family-accent);
  }

  html {
    font-family: 'Open Sans', 'Segoe UI', SegueUI, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }

  * {
    @apply border-border;
    font-family: var(--font-body);
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--font-heading);
    @apply leading-normal;

    span {
      font-family: inherit;
    }
  }

  h1,
  .h1 {
    @apply text-6xl md:text-8xl;
  }

  h2,
  .h2 {
    @apply text-5xl md:text-7xl;
  }

  h3,
  .h3 {
    @apply text-4xl md:text-5xl;
  }

  h4,
  .h4 {
    @apply text-2xl md:text-3xl;
  }

  h5,
  .h5 {
    @apply text-xl md:text-2xl;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  /* BUTTONS */
  .btn {
    font-family: var(--font-accent);
    @apply inline-block text-sm font-medium transition-colors;

    &.btn-primary {
      @apply py-3 px-5 rounded-full bg-primary;

      &:hover {
        @apply bg-primary-hover;
      }
    }

    &.btn-secondary {
      @apply py-3 px-5 rounded-full bg-light text-secondary-foreground;

      &:hover {
        @apply bg-light-hover;
      }
    }

    &.btn-ghost {
      @apply py-2;
    }

    &.btn-sharp {
      @apply rounded-none;
    }

    &.btn-outline {
      @apply py-3 px-5 rounded-full bg-primary outline;
    }

    &:hover {
      @apply bg-primary-hover;
    }
  }
}

/* BUTTONS END */

main {
  @apply text-xl;
}

@utility text-box-trim-top {
  text-box: trim-start cap text;
}
@utility text-box-trim-bottom {
  text-box: trim-end text;
}
@utility text-box-trim-bottom-baseline {
  text-box: trim-end text alphabetic;
}
@utility text-box-trim-both {
  text-box: trim-both cap text;
}
@utility text-box-trim-both-baseline {
  text-box: trim-both cap alphabetic;
}
@utility position-left {
  @apply text-start;
}
@utility position-center {
  @apply text-center;
}
@utility position-right {
  @apply text-end;
}
@utility indent-top {
  @apply mt-8 @md:mt-16;
}
@utility indent-bottom {
  @apply mb-8 @md:mb-16;
}
@utility indent {
  @apply px-8 @md:px-16;
}

@utility text-shadow {
  --text-shadow-offset-x: 0;
  --text-shadow-offset-y: 0;
  --text-shadow-blur: var(--blur-default);
  --text-shadow-color: rgba(0, 0, 0, 1);
  text-shadow: var(--text-shadow-offset-x) var(--text-shadow-offset-y) var(--text-shadow-blur)
    var(--text-shadow-color);
}

@utility text-shadow-blur-none {
  --text-shadow-blur: var(--blur-none);
}

@utility text-shadow-blur-sm {
  --text-shadow-blur: var(--blur-sm);
  --text-shadow-blur: var(--blur-default);
}

@utility text-shadow-blur-md {
  --text-shadow-blur: var(--blur-md);
}

@utility text-shadow-blur-lg {
  --text-shadow-blur: var(--blur-lg);
}

@utility text-shadow-blur-xl {
  --text-shadow-blur: var(--blur-xl);
}

@utility text-shadow-blur-2xl {
  --text-shadow-blur: var(--blur-2xl);
}

@utility text-shadow-blur-3xl {
  --text-shadow-blur: var(--blur-3xl);
}

@utility fade-to-transparent {
  mask-image: linear-gradient(
    to var(--fade-direction),
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0) 100%
  );
}

@utility fade-to-transparent-right {
  --fade-direction: right;
}

@utility fade-to-transparent-top {
  --fade-direction: top;
}

@utility fade-to-transparent-left {
  --fade-direction: left;
}

@utility fade-to-transparent-bottom {
  --fade-direction: bottom;
}

@utility ck-content {
  ul,
  ol {
    all: revert;
  }
}

@utility text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

@utility vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  text-orientation: mixed;
  height: 100%;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

.menu-mobile-navigate {
  display: none;
}

.sc-jss-empty-placeholder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.sc-jss-placeholder-error {
  background: #ff0000;
  outline: 5px solid #e36565;
  padding: 10px;
  color: #fff;
  max-width: 500px;
}

.content-sdk-rich-text {
  ul {
    list-style: disc;

    li {
      list-style-type: disc !important;
      padding-left: calc((2 * 0.5rem) + 1.5625rem);
    }
  }
}

/* FADE ANIMATIONS */

.animate .fade-section {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.8s ease-out,
    transform 1s ease-out;
  will-change: opacity, visibility;
}

.animate .fade-section.fade-up {
  transform: translateY(200px);
}

.animate .fade-section.fade-side {
  transform: translateX(200px);
}

.animate .fade-section.is-visible {
  opacity: 1 !important;
  transform: none !important;
  visibility: visible !important;
}

/* Disable when editing and on mobile */
.editing-mode .animate .fade-section {
  opacity: 1 !important;
  transform: none !important;
  visibility: visible !important;
}

@media (width <= 40rem) {
  .animate .fade-section {
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
  }
}

/* MARQUEE ANIMATION */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;

  .editing-mode & {
    transform: none !important;
  }
}

/* HEADER STYLES */

.partial-editing-mode header {
  @apply static mb-0 overflow-hidden;
}
