@font-face {
  font-family: 'Sora Fallback';
  src: local('Arial');
  size-adjust: 96%;
  ascent-override: 105%;
  descent-override: 28%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'Roboto Fallback';
  src: local('Arial');
  size-adjust: 100%;
  ascent-override: 92%;
  descent-override: 24%;
  line-gap-override: 0%;
}

@layer base {
  :root {
    --font-heading: 'Sora', 'Sora Fallback', sans-serif;
    --font-body: 'Roboto', 'Roboto Fallback', sans-serif;
    --font-accent: 'IBM Plex Mono', monospace;
  }
  * {
    @apply border-border font-body;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--font-heading);
    @apply font-light leading-tight;
  }

  h1,
  .h1 {
    @apply text-6xl;
  }
  h2,
  .h2 {
    @apply text-5xl;
  }
  h3,
  .h3 {
    @apply text-4xl;
  }
  h4,
  .h4 {
    @apply text-2xl;
  }
  h5,
  .h5 {
    @apply text-xl;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@utility text-box-trim-top {
  text-box: trim-start cap text;
}
@utility text-box-trim-bottom {
  text-box: trim-end text;
}
@utility text-box-trim-bottom-baseline {
  text-box: trim-end text alphabetic;
}
@utility text-box-trim-both {
  text-box: trim-both cap text;
}
@utility text-box-trim-both-baseline {
  text-box: trim-both cap alphabetic;
}
@utility position-left {
  @apply text-start;
}
@utility position-center {
  @apply text-center;
}
@utility position-right {
  @apply text-end;
}
@utility indent-top {
  @apply mt-8 @md:mt-16;
}
@utility indent-bottom {
  @apply mb-8 @md:mb-16;
}
@utility indent {
  @apply px-8 @md:px-16;
}

